# TOY GENERATOR OF COSMIC PIANO DATA

In [1]:
import pandas as pd
import numpy as np
import time

def generate_module_events(rates, total_time, time_acceleration=1):
    """
    Generates a DataFrame with random module numbers and timestamps.

    Parameters:
    rates (list of float): List of rates (in seconds) for each module (0 to 4).
    total_time (int): Total time to run the generation (in seconds).
    time_acceleration (float): Factor to accelerate the simulation time.

    Returns:
    pd.DataFrame: DataFrame with 'module' and 'timestamp' columns.
    """
    # Ensure rates list has length of 5 (for modules 0 to 4)
    assert len(rates) == 5, "Rates list must contain 5 elements."

    start_time = time.time()
    events = []

    while (time.time() - start_time) * time_acceleration < total_time:
        current_time = time.time()
        scaled_time = (current_time - start_time) * time_acceleration
        
        for module, rate in enumerate(rates):
            if scaled_time % rate < 0.01:  # Check if it's time to generate an event for this module
                events.append({
                    'module': module,
                    'timestamp': scaled_time
                })
                
        time.sleep(0.01 / time_acceleration)  # Adjust sleep for time acceleration to avoid high CPU usage

    df = pd.DataFrame(events)
    return df

In [2]:
# Example usage:
rates = [0.5, 10, 2, 5, 7]  # Rates for modules 0 to 4
total_time = 20000  # Run the generation for 200 million seconds
time_acceleration = 1e6  # Accelerate time by 1 million times
df = generate_module_events(rates, total_time, time_acceleration)
print(df)

     module     timestamp
0         0   1127.004623
1         4   1127.004623
2         0   1405.000687
3         3   1405.000687
4         0   1410.007477
..      ...           ...
192       4  18893.003464
193       0  19629.001617
194       0  19634.008408
195       2  19634.008408
196       0  19701.004028

[197 rows x 2 columns]

In [3]:
df

     module     timestamp
0         0   1127.004623
1         4   1127.004623
2         0   1405.000687
3         3   1405.000687
4         0   1410.007477
..      ...           ...
192       4  18893.003464
193       0  19629.001617
194       0  19634.008408
195       2  19634.008408
196       0  19701.004028

[197 rows x 2 columns]

In [4]:
def save_dataframe_to_file(df, file_path):
    """
    Saves the DataFrame to a file.

    Parameters:
    df (pd.DataFrame): The DataFrame to save.
    file_path (str): The path to the file where the DataFrame will be saved.
    """
    df.to_csv(file_path, index=False)
    print(f"DataFrame saved to {file_path}")

In [5]:
# Save the DataFrame to a CSV file
file_path = "module_events.csv"
save_dataframe_to_file(df, file_path)

DataFrame saved to module_events.csv

### Dataset with very similar rates

In [7]:
# Example usage:
rates = [1.5, 0.8, 1.3, 1.2, 1.1]  # Rates for modules 0 to 4
rates = [rate * 0.0001 for rate in rates]
total_time = 20000  # Run the generation for 200 million seconds
time_acceleration = 1e6  # Accelerate time by 1 million times
df = generate_module_events(rates, total_time, time_acceleration)
print(df)
# Save the DataFrame to a CSV file
file_path = "module_events_similar_rates.csv"
save_dataframe_to_file(df, file_path)

      module     timestamp
0          0      0.953674
1          1      0.953674
2          2      0.953674
3          3      0.953674
4          4      0.953674
...      ...           ...
5015       0  19989.967346
5016       1  19989.967346
5017       2  19989.967346
5018       3  19989.967346
5019       4  19989.967346

[5020 rows x 2 columns]
DataFrame saved to module_events_similar_rates.csv